@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);

* {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

body { 
    background-color: #f4f4f4;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    border: 0; }

h3 {
    font-family: 'Noto Sans', serif;
    font-size: 2em;
    color: #333; }

p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    color: #666; 
    margin: 30px 0; }

.image {
    background: url('https://www.upload.ee/image/9498691/s1200.jpg') no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 320px; }

.content {
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    z-index: 2;
    height: 100%; }

a:link, a:visited {
    color: #666;
    text-decoration: underline; }

a:hover {
    color: #01c59f; }

.slider {
    float: left;
    width: 800px;
    height: 350px;
    position: relative;
    padding-bottom: 26px;
    background: url(../img/dObOup8yqas.jpg) no-repeat bottom center; }

.sliderContent {
    float: left;
    width: 800px;
    height: 350px;
    clear: both;
    position: relative;
    overflow: hidden; }

.sliderArrows a {
    display: block;
    text-indent: -9999px;
    outline: none;
    z-index: 50;
    background-image: url(../img/iPH7K7Myvrg.jpg);
    width: 42px;
    height: 42px;
    position: absolute;
    top: 50%;
    margin-top: -34px; }

.prev {
    background-position: 0 0;
    left: 15px; }

.prev:hover {
    background-position: 0 -44px; }

.next {
    right: 15px;
    background-position: -44px 0; }

.next:hover {
    background-position: -44px -44px; }

.sliderContent .item {
    position: absolute;
    width: 800px;
    height: 350px;
    background: #fff; }

.sliderBullets {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 50;
    margin-left: -45px; }

.sliderBullets a {
    display: block;
    float: left;
    text-indent: -9999px;
    outline: none;
    margin-left: 5px;
    width: 10px;
    height: 11px;

    background: url(../img/pALfsopEvAA.jpg) no-repeat; }

.sliderBullets .active {
    background-position: 0 -11px; }

.sliderContent a {
    outline: none; }

